{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 ftco-animatedd">
            <h2 class="mb-3 font-weight-bold">{{detail.post}}</h2>
            <p style="text-align: center;">
                <img src="{{detail.post.image.url}}" alt="" class="img-fluid">
            </p>
            {% autoescape off %}
            <p style="text-align: justify;">
                {{detail.contentPost}}
            </p>
            {% endautoescape off %}
        </div> <!-- .col-md-8 -->
        
    </div>
</div>
{% endblock %}